<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
  data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Hi {{current_user.username}}!
          ({{current_user.role}}) </li>
      </ol>
      <h3 class="font-weight-bolder text-white mb-0"> {{page_message}}</h3>
    </nav>


    <ul class="navbar-nav  justify-content-end">
      <li class="nav-item d-flex align-items-left">

        <a href="{{url_for('logout_page')}}" class="nav-link text-white font-weight-bold px-0">
          <i class="fa fa-user me-sm-1"></i>
          <span class="d-sm-inline d-none">Sign Out</span>
        </a>
      </li>




  </div>

</nav>