{% extends 'base.html' %}

{% block title%}
Python Flask Upload and display image
{%endblock%}



  {% block content%}

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white" ›
  <div class="col-md-7 p-lg-5 mx-auto my-5">

    {% for task in taskref %}
    {% if task.task_id == taskid %}
   
   <br>
   <img src="/static/uploads/{{task.img_name}}" alt="User Image" width="800" height="500">
     <br><br><br><br><br><br>
  
     
     {% endif %}
    {% endfor %}  

       

  
  </div>
  </div>
 
  {% endblock %}

  